:root {
  --shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
  --border: solid 1px rgba(0, 0, 0, 0.2);
  --primary: #00c2a2;
  --default: #fff9e3;
  --inputBG: rgba(255, 255, 255, 0.7);
  --text: #333;
  --textShadow: rgba(3, 3, 3, 0.5);
  --paper: rgb(255, 233, 173);
  --gradient: linear-gradient(
    -45deg,
    rgba(250, 220, 140, 1) 0%,
    rgba(250, 190, 50, 1) 50%,
    rgba(245, 180, 0, 1) 50%,
    rgba(250, 220, 140, 1) 100%
  );
}

/* dark theme */
.dark {
  --primary: #009c8c;
  --default: #686868;
  --inputBG: rgba(0, 0, 0, 0.3);
  --text: #fff;
  --textShadow: rgba(250, 250, 250, 0.5);
  --paper: rgba(80, 80, 80, 1);
  --gradient: linear-gradient(
    -45deg,
    rgba(80, 80, 80, 1) 0%,
    rgba(50, 50, 50, 1) 50%,
    rgba(45, 45, 45, 1) 50%,
    rgba(80, 80, 80, 1) 100%
  );
}
body,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--text);
  font-size: 14px;
}
button {
  background: var(--default);
  color: var(--text);
  border-radius: 100px;
  padding: 0.5em 1em;
  border: var(--border);
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
}
button.primary {
  background: var(--primary);
}
button:hover {
  opacity: 1;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: var(--gradient);
  color: var(--text);
}
